body {
    background-image: url(./photos/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #111111;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #EEEEEE;
    text-align: left;
    font-family: Source Code Pro, Lucida Console, Monaco, monospace;
    }

h1 {
    font-size: 50px;
    text-align: center;
    }

h2 {
    font-size:36px;
    text-align: center;
}

h3 {
    font-size:24px;
    text-align: center;
}

a {
    color: #eeeeee;
    text-decoration: none;
    z-index:9999999
    }

a:hover {
    color: #77ffbb;
    }

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    }

td {
    text-align: center;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-size: 24px;
    }

.mainTextArea {
    background-color: #111111;
    color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    border: 4px solid #EEEEEE;
    border-collapse: collapse;
}

.subTextArea {
    border: 2px solid #EEEEEE;
    border-collapse: collapse;
}

.smallIcon {
    width:40px;
    height:40px;
    vertical-align: middle;
}

.discordIcon {
    width:60px;
    height:60px;
    vertical-align: middle;

}
